.exalted-dot {
  box-sizing: border-box;

  height: 20px;
  width: 20px;

  cursor: pointer;

  border: 3px black solid;
  border-radius: 50%;
}

.exalted-dot.exalted-dot-filled {
  /* Can I do this in any other browsers? */
  -webkit-print-color-adjust: exact !important;
  background-color: black;
}
