extends layout

block content

    div.container
        h1 Welcome
            p.lead
                |  Hi, my name is Jeremy Pridemore and you've gotten to my very cleverly named site. It's not done, so you were probably given the link by me. For now, this front page will continue to look a bit shoddy because my work is in different sections linked to by the Experiments link in the navigation bar. Go check those out if you want to see my progress and just forgive this front page for now. I'd also love your feedback! Thanks!

        div.col-sm-10.col-sm-offset-1.well You came from the #{domain} domain. Right now you can get here from either the jeremypridemore.me or jeremypridemore.info links.

        div.col-sm-10.col-sm-offset-1.well You are in the #{env} environment. This should say production if you got here from the internet.

        if locals.cookieName
            div.col-sm-10.col-sm-offset-1.well I gave you a cookie with a name value of... "#{cookieName}"
        else
            div.col-sm-10.col-sm-offset-1.well You had no cookie when you got here, but I just gave you one. The next time you load this page, I'll tell you what your cookie was. :)
