doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href='/components/boostrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet" href='/components/boostrap/dist/css/bootstrap-theme.min.css')

    block content

    script(src='/components/boostrap/dist/js/bootstrap.js')
