doctype html
html
    head
        title= title
        link(rel="stylesheet" href='/components/bootstrap/dist/css/bootstrap.min.css')
        link(rel="stylesheet" href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        nav.navbar.navbar-inverse(role="navigation")
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Jeremy Pridemore

                div#navbar-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.dropdown 
                            a.dropdown-toggle(href="#", data-toggle="dropdown") Experiments <span class="caret"></span>
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="/users") Users MongoDB Test


        block content
        
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/bootstrap/dist/js/bootstrap.min.js')
